body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0; border:none; }
body{font-family:Microsoft YaHei,Tahoma, Arial, sans-serif,'Hiragino Sans GB';font-size:14px;width:100%;color:#333;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption, cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
ol,ul,li {list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before, q:after{content:' '}
abbr,acronym{border:0;}
input,button{font-family: Microsoft YaHei,Tahoma, Arial, sans-serif,'Hiragino Sans GB';}
.clearfix:after{content:'';display:block;clear:both;height:0;overflow:hidden;}
.clearfix{zoom:1;}
a{color:#333;text-decoration:none;}
a:hover{color:#67adee;}
.pr{position: relative;}
.fl{float: left;}
.fr{float: right;}
.c999{color: #999;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt40{margin-top:20px;}
.mt50{margin-top:50px;}
.mt60{margin-top:60px;}
.mb80{margin-bottom:80px;}
.mt100{margin-top:100px;}
.w1200{ width:1200px; margin:0 auto;}

/*banner*/
.homeBrand {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin: 0px auto 0px;
}
.main_image {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.main_visual{height:610px; overflow:hidden;position:relative;} 
.main_image ul{width:9999px;height:100%;overflow:hidden;position:absolute;top:0;left:0}
.main_image li{float:left;width:100%;height:auto;}
.main_image li a{display:block;width:100%;height:100%;text-align: center}
.main_image li a img{ width:100%; height:auto;}
div.flicking_con{
    position: absolute;
    bottom: 40px;
    left: 50%;
    z-index: 66;
    width: 400px;
    height: 21px;
    margin: 0 0 0 -50px;
}
div.flicking_con a{float:left;width:17px;height:17px; margin-left:15px; background:url(../images/ba_icon2.png) no-repeat;display:block;text-indent:-1000px}
div.flicking_con a.on{ background:url(../images/ba_icon1.png) no-repeat;}

/*banner*/
.swiper-container {
    height:auto;
    width:100%;
    text-align:center;
    margin:0 auto;
    position:relative;
    overflow:hidden;
    z-index:5;
    background:#fff;
}
.swiper-wrapper {
    position: relative;
    z-index:10;
}
.swiper-slide {
    position:relative;
    text-align:center;
    float:left;
}
.swiper-slide a{
    position:relative;
    width:100%;
    height:100%;
    display:block;
    overflow:hidden;
}
.swiper-slide img{
    width:100%;
    height:auto;
    vertical-align:middle;
    position:relative;
}
.pagination{
    position:absolute;
    height:21px;
    width:100%;
    bottom:40px;
    z-index:100;

}
.pagination .swiper-pagination-switch{
    display:inline-block;
    height:17px;
    width:17px;
    background:url(../images/ba_icon2.png) no-repeat;
    margin-right:15px;
}
.pagination .swiper-active-switch{
    background:url(../images/ba_icon1.png) no-repeat;;
}
/*topbar*/
.topbar{width:100%; height:92px; padding-top:28px;}
.top_logo{float:left;}
.top_nav{width:700px; float:left; margin-left:20px;  margin-top:30px; font-family:Microsoft YaHei ;}
.top_nav ul li{float:left; font-family:Microsoft YaHei ;  position:relative;}
.top_nav ul li .nav a{font-size:20px; padding:8px 20px; margin-right:15px; color:#3f3f3f;}
.top_nav ul .hover a,.top_nav ul .current a { color:#fff !important; background:#8c8c8a;}
.top_nav ul li .con{ background:url(../images/nav_bg.png) repeat; position:absolute; top:34px;  display:none; font-size:20px;  z-index: 99999;}
.top_nav ul li .con a{ color:#3f3f3f !important; text-decoration:none; background-color:transparent;}
.top_nav ul li .con li {float: none;padding:8px 20px;}
.top_nav ul li .con a:hover{color:#3f3f3f !important; text-decoration:underline;} 
.right_btn{float:right; margin-right:5px; margin-top:10px;}
.yycg_btn{ height:52px; line-height:52px; width:136px; font-family:Microsoft YaHei; text-align:center; color:#fff; font-size:20px;border:2px solid #383737;  background-color:#383737; display:block;
float:left;}
.khdl_btn{height:52px; line-height:52px; width:136px; border:2px solid #e2e043; font-family:Microsoft YaHei; text-align:center; color:#333; font-size:20px;  display:block; float:left; margin-left:10px;}
.right_btn a:hover  {background: #fff !important;color: #3f3f3f !important;border:2px #565656 solid}
.top_nav ul li .con li a:hover {text-decoration: none}

/*关于易企租*/
.qy_w1{ position:relative; overflow:hidden}
.qy_w1_left{width:600px; float:left; margin-left:10px;}
.qy_w1_left_top{ text-align:center;}
.qy_w1_left_top img{margin:10px 0 15px 0;}
.qy_w1_left_top h2{font-size:35px; margin-bottom:15px;}
.qy_w1_left_top p{font-size:25px;}
.qy_w1_left_bottom dl{ margin-top:16px;}
.qy_w1_left_bottom dl dt{font-size:20px; background:url(../images/icon.png) 0px -106px  no-repeat;  padding-bottom:16px;}
.qy_w1_left_bottom dl dd{ font-size:15px; line-height:22px; padding-left:30px; text-align:justify;}
.qy_w1_right{width:550px; float:right; margin-right:10px; margin-top: 32px;}
.da-thumbs{position:relative;}
.da-thumbs li{float:left; position:relative; width:261px; height:232px; display:block;}
.da-thumbs li a,.da-thumbs li a img{display:block;position:relative}
.da-thumbs li a{color:#fff;overflow:hidden}
.da-thumbs li a div{position:absolute; background:#000; width:100%; height:100%; background:url(../images/balck.png) repeat;  z-index: 999999;}
.subscribe{ background:#f4f4f0;}
.fot_onfo span{font-size:50px; margin-top:70px; margin-bottom:15px; text-align:center; padding:0 10px;display: block}
.fot_onfo font { font-size:18px;  text-align:center;  padding:0 10px;display: block}
.hot_info{ } 
.hot_info h2, .hot_info p{ text-align:center; padding:0 10px;}
.hot_info h2{ font-size:18px; margin-top:90px; margin-bottom:5px;}
.hot_info p{margin-bottom:5px;} 
.line1{ width:661px; height:108px; position:absolute; bottom:160px; left:17px;}
.qy_w2{ overflow:hidden;}
.qy_w2_left{width:596px; height:727px; position:relative; float:left; margin-left:22px;}
.qy_w2_left img{ width:100%; height:100%; position:absolute; left:0px; top:0px;}
.qy_w2_left_div{position:absolute; left:0px; top:0px; width:100%; height:100%; background:url(../images/balck.png) repeat; }
.qy_w2_left_div h3, .qy_w2_left_div span, .qy_w2_left_div p{ color:#fff; width:360px; margin:0 auto; text-align:justify;text-align:center; }
.qy_w2_left_div h3{ font-size:30px; margin-top:240px; margin-bottom:20px;}
.qy_w2_left_div span{font-size:18px; display:block;}
.qy_w2_left_div p{font-size:24px; line-height:35px; margin-top:40px;}
.qy_w2_right{float:right; width:580px; height:590px; background:url(../images/yzs.gif) no-repeat; position:relative; top:80px; left:-34px;}
.qy_w2_right dl{width:480px; margin:60px auto 0 auto;}
.qy_w2_right dl dt{font-size:30px; background:url(../images/icon.png) 0 -170px no-repeat; padding-bottom:18px;}
.qy_w2_right dl dd{ font-size:20px; line-height:24px;  padding-left: 30px;}
.form_sec{background:url(../images/yz_sec.jpg) no-repeat; width:456px; height:116px; margin:0 auto; overflow:hidden;}
.form_sec_div{width:280px; height:31px; border:2px solid #646464; margin:30px auto 0px 145px; text-align:center;}
.form_sec_div .form_sec_input{float:left; width:200px; height:31px; line-height:31px; padding:0 10px;}
.form_sec_div .form_sec_btn{float:left; width:60px; height:31px; background: #fff; line-height:31px; border-left:2px solid #646464; font-size:12px; color:#313131; text-align:center; cursor:pointer;}
.form_sec p{width:280px; text-align:center; margin:6px 0 0 145px; color: #797979; font-size: 15px;}

#rf-thumbs li a:hover div,#rf-thumbs2 li a:hover div {left: 0px;top:0;  display: block; transition: all 300ms ease;}
#rf-thumbs2 li a:hover {color: inherit}

/*关于我们*/
.abuot_us{position:relative; margin:40px auto 0 auto; width:1134px; height:495px;}
.abuot_us .d1, .abuot_us .d2, .abuot_us .d3, .abuot_us .d4{position:absolute; width:245px; height:218px; }
.abuot_us .d1{left:0px; top:0px; background-color:#868686;}
.abuot_us .d1 h2{font-size: 50px;  margin-top:50px; margin-bottom: 15px; text-align: center; padding: 0 10px; color: #fff;}
.abuot_us .d1 p { font-size: 18px; text-align: center;  padding: 0 10px; color: #fff;}  
.abuot_us .d2 img, .abuot_us .d3 img{width:245px; height:218px; display: block; position: relative;}
.abuot_us .d2{top:0px; left:245px; display: block; position: relative; overflow:hidden;}
.abuot_us .d3{top:0; left:0px; display: block; position: relative; overflow:hidden;}
.abuot_us .ab_div{position: absolute; width:100%; height: 100%; background:url(../images/balck.png) repeat; z-index: 999999; left:0px; top:0px; display:none; color:#fff;}
.ab_div h2, .ab_div p {  text-align: center; padding: 0 10px;}
.ab_div h2 {font-size: 18px; margin-top: 70px; margin-bottom: 5px;} 
.ab_div p { margin-bottom: 5px;}
.abuot_us .d4{position:absolute; width:268px; height:240px; left:283px; bottom:0px; background-color:#f2f2f2;}
.abuot_us .d4 h2{font-size:22px;  margin-top:100px;  text-align: center; padding: 0 10px; }
.abuot_us .d4 p{font-size:16px; text-align: center; padding: 0 10px; margin-top: 2px;}
.abuot_us .d5{position:absolute; width:420px; left:590px; top:50px;}
.abuot_us .d5 h2{ font-size:28px;}
.abuot_us .d5 span{ font-size:20px; margin-top:25px; display:block;}
.abuot_us .d5 p{ line-height:20px; margin-top:22px;}
.abuot_us .d6{ width:630px; height:87px; position:absolute; right:-5px; bottom:50px;}
.contact{ width:100%; background-color:#f2f2f2; overflow:hidden;}
.contact ul{width:1140px; margin:0 auto;  overflow:hidden;}
.contact ul li{float:left; width:300px; height:160px;  padding:110px 40px;text-align:center; position:relative; overflow:hidden;}
.dx_box{}
.dx_box span, .dx_box font{ display:block;}
.dx_box font{margin-top:25px; font-size:20px; line-height:22px;}
.zz_dv{position: absolute;  width: 100%;  height: 100%;  background: url(../images/balck.png) repeat;   z-index: 999999; display:none;}
.dx_box_span img{ width:110px; height:110px;}	
.zz_dv p{text-align:center; padding:40px; color:#fff; font-size:18px; line-height:30px; margin-top:100px;}
 
    

/*房源动态*/
.fyxq_search {width: 1200px;position: absolute;left: 50%;margin-left: -600px;z-index: 9999;top:30px}
.fydt_search{position:absolute; width:950px; height:52px;  left:50%; top:50%; margin-left:-475px; margin-top:-27px;z-index: 9999}
.fydt_ckqb{ height:52px; width:245px;line-height:52px;  background:url(../images/balck2.png) repeat; font-size:22px;  float:left; margin-right:10px; }
.fydt_ckqb a{color:#fff; float:left; margin: 0 15px 0 30px; letter-spacing: 5px; display:block;}
.fydt_ckqb span{background:url(../images/icon.png) -19px -29px no-repeat; width:15px; height:20px; float:left; margin-top:20px;}
.fydt_qfck{width:232px; height:52px; line-height:52px; background:url(../images/balck2.png) repeat; font-size:22px; float:left;}
.fydt_qfck a{float:left; display:block;  width:170px; height:52px; color:#fff;text-align:center;}
.fydt_qfck span{background:url(../images/yellow.png) repeat; width:62px ; height:52px; float:left;}
.fydt_qfck .icon{background:url(../images/icon.png) -218px -23px no-repeat; width:15px; height:20px;  display:block; margin-top:15px; margin-left: 25px;}
.fydt_city{ width:220px; height:52px; line-height:52px; background-color:#fff; font-size:22px; float:left; margin-right:10px;}
.fydt_city span{width:170px; height:52px; line-height:52px; display:block;   cursor:pointer; background:url(../images/icon.png) 170px -65px no-repeat; padding-left: 50px;}
.fydt_city ul{ background:#fff; width:180px; display:none; line-height:35px; font-size:18px; padding:10px 20px}	 
.hgtz{width:1260px; margin:20px auto 50px auto; height:180px; overflow:hidden;}
.hgtz ul li{ }
.hgtz ul li a{float:left; color:#fff; width:410px; height:180px; margin-right:14px; overflow:hidden; display: block; position: relative;}
.hgtz .swda a{margin-right:0px;}
.hgtz ul li a .tz_span{ width:410px; height:180px;}
.hgtz ul li a .tz_span img{width:410px; position:absolute; left:0px; top:0px;}
.hgtz ul li a .tz_span p.tz_p{font-size:35px; position:absolute; width:120px; height:70px; left:50%; top:50%; margin-left:-60px; margin-top:-35px; background:url(../images/icon.png) 12px -238px no-repeat;}
.hgtz ul li a .tz_div{width:410px; height:180px; position:absolute; left:0px; top:0px; z-index:999;  background: url(../images/balck.png) repeat; display:none;}
.hgtz ul li a .tz_div h2 {font-size:24px; margin-top:60px; margin-bottom: 5px; text-align: center; padding: 0 10px;}  
.hgtz ul li a .tz_div p{margin-top:10px; text-align:center; font-size: 16px; padding: 0 10px;}
#da-hgtz li a:hover .tz_p {display: none}

/*产品分类*/

.limit-box{position:relative;width:1200px; margin:35px auto 0  auto;}
.btn-prev, .btn-next{width:52px;height:51px; position:absolute; display:block; z-index: 999999; top:100px;}
.btn-prev{background:url(../images/cpfl_left.png) no-repeat; left:0px;}
.btn-next{background:url(../images/cpfl_right.png) no-repeat; right:0px;}
.limit-buy-bd{overflow:hidden;position:absolute;top:0px;left:0;width:900000px;z-index:1}
.products{float:left;width:1209px; margin:0 30px;}
.products li{float:left;  width:333px;  margin-right:70px;margin-bottom: 70px}
.products li .pic{overflow:hidden; width:333px;height:227px;}
.products li .pic img{width:333px;height:227px;}
.products .last{ margin-right:0px;}
.products li .name{padding:20px 0 35px; font-size:30px; background:url(../images/line1.gif) left 70px no-repeat;}
.products li .price{font-size:25px;}


/*企业入驻*/
.qyrz_fwys{width:1128px; height:326px; border:2px solid #bfbfbf; margin:65px auto 55px; position:relative;}
.qyrz_fwys h2{position:absolute; width:490px; height:110px; left:50%; margin-left:-245px; top:-32px; text-align:center;  font-size:40px; background:url(../images/icon.png) 180px -360px #fff no-repeat;}
.qyrz_fwys p{ width:870px; margin:110px auto 0 auto; font-size:18px; line-height:30px;}
.qyrz_fwys_bottom{width:870px; margin:45px auto 0 auto; }
.qyrz_fwys_bottom ul li{width:180px; margin-right:140px; float:left;}
.qyrz_fwys_bottom ul li font{display:block; height:135px; width:180px; text-align:center; padding-top:45px; font-size:32px; line-height: 50px;}
.qyrz_fwys_bottom ul li .font1{ background-color:#f5f357;}
.qyrz_fwys_bottom ul li .font2{ background-color:#000; color:#fff;}
.qyrz_fwys_bottom ul li .font3{ background-color:#ababab; color:#fff;}
.qyrz_fwys_bottom ul li p{margin-top:15px; font-size:16px; line-height:22px; width:180px;}
.qyrz_tsfw{background:url(../images/qyrz_bg.gif) repeat; margin-top:250px; margin-bottom:50px; padding-bottom:50px; overflow:hidden;}
.qyrz_tsfw h2{width:840px; margin:0 auto; padding:50px 0 70px 0;  text-align:center;  font-size:40px; background:url(../images/icon.png) 362px -305px  no-repeat}
.qyrz_tsfw ul {  width:840px; margin:0 auto;}
.qyrz_tsfw ul li{float:left; width:200px; margin:0 5px;}
.qyrz_tsfw ul li span{width:100px; height:60px; margin:0 50px; display:block;}
.qyrz_tsfw ul li a font{width:100px; margin:0 50px 35px 50px; display:block; color:#ababab; text-align:center; font-size:18px;}
.qyrz_tsfw ul li a .icon1, .qyrz_tsfw ul li a .icon2, .qyrz_tsfw ul li a .icon3, .qyrz_tsfw ul li a .icon4, .qyrz_tsfw ul li a .icon5,
.qyrz_tsfw ul li a .icon6, .qyrz_tsfw ul li a .icon7, .qyrz_tsfw ul li a .icon8, .qyrz_tsfw ul li a .icon9, .qyrz_tsfw ul li a .icon10,
.qyrz_tsfw ul li a .icon11, .qyrz_tsfw ul li a .icon12, .qyrz_tsfw ul li a .icon13, .qyrz_tsfw ul li a .icon14, .qyrz_tsfw ul li a .icon15, 
.qyrz_tsfw ul li a .icon16{background:url(../images/qq_img.png) no-repeat;}
.qyrz_tsfw ul li a .icon1{background-position: 10px -2px;}
.qyrz_tsfw ul li a .icon2{background-position: -293px -3px;}
.qyrz_tsfw ul li a .icon3{background-position: -593px -2px;}
.qyrz_tsfw ul li a .icon4{background-position: -893px -10px;}
.qyrz_tsfw ul li a .icon5{background-position: 12px -105px;}
.qyrz_tsfw ul li a .icon6{background-position: -285px -120px;}
.qyrz_tsfw ul li a .icon7{background-position: -583px -121px;}
.qyrz_tsfw ul li a .icon8{background-position: -887px -120px;}
.qyrz_tsfw ul li a .icon9{background-position: 12px -230px;}
.qyrz_tsfw ul li a .icon10{background-position: -305px -240px;}
.qyrz_tsfw ul li a .icon11{background-position: -602px -240px;}
.qyrz_tsfw ul li a .icon12{background-position: -892px -242px;}
.qyrz_tsfw ul li a .icon13{background-position: -10px -345px;}
.qyrz_tsfw ul li a .icon14{background-position: -305px -345px;}
.qyrz_tsfw ul li a .icon15{background-position: -601px -345px;}
.qyrz_tsfw ul li a .icon16{background-position: -896px -340px;}
.qyrz_ydcbbj{ width: 1200px;  margin: 0 auto; height: 500px; position: relative;}
.qyrz_ydcbbj_top{}
.qyrz_ydcbbj_top h2{width:630px; margin-left:40px; float:left; clear:left; padding: 50px 0 70px 0; text-align: center; font-size:40px;  background: url(../images/icon.png) 252px -305px no-repeat;}
.qyrz_ydcbbj_sire ul{width:630px; margin-left:40px; float:left; clear:left;}
.qyrz_ydcbbj_sire ul li{ float:left; width:210px;}
.qyrz_ydcbbj_sire ul li font{width:130px; margin:0 30px 15px 30px; padding:0 10px; display:block; height:60px; line-height:60px; text-align:center; background-color:#f5f357; font-size:26px;}
.qyrz_ydcbbj_sire ul li p{width:150px;  margin:0 30px; font-size:20px; line-height:25px; text-align:justify;  position: initial;}
.qyrz_ydcbbj_sire p{ margin-right: 30px;  position: absolute; right: 0px;}
.qyrz_ydcbbj_sire p img{width:415px;  height: 212px;  z-index: 999; margin-bottom: 30px; position: absolute;  right: 0px;}
.qyrz_ydcbbj_sire p span{width: 400px; height: 206px; background-color: #f3f358; display: block; position: absolute; right: 0px;margin-top: 30px;   margin-right: 40px;}
.qyrz_ydcbbj_top p{width:500px; margin-right:30px; float:right; margin-top: 60px; margin-right: 30px;}
.qyrz_line{ width:728px; height:259px; position:absolute;}

/* 企业愿景*/
.qyyj_box{padding:100px 25px 75px 25px; overflow:hidden;}
.wmdyl_box img{float:left; width:493px; height:378px;} 
.qyyj_box_right{width:600px; float:right;}
.qyyj_box_right h2{font-size: 48px; line-height:60px;background: url(../images/icon.png) 0 -447px no-repeat; padding-bottom: 40px;}
.qyyj_box_right p{font-size: 30px; line-height: 40px;   padding-bottom: 20px;}
.qyyj_box_right ul li{font-size:18px; line-height: 24px;}
.wmdyl_box{background:url(../images/qyrz_bg.gif) repeat; overflow:hidden;}
.wmdyl_box_title{ }
.wmdyl_box_title h2{font-size:48px; background: url(../images/icon.png) 37px -470px no-repeat; padding:35px 40px 60px 40px;}
.wmdyl_bottom{ padding:40px 0 100px 0; overflow:hidden;}
.wmdyl_bottom ul li{ width:160px; float:left; margin:0 40px;}
.wmdyl_bottom ul li a{ display:block; text-align:center; overflow: hidden; color:#333;}
.wmdyl_bottom ul li a img{ width:96px; height:70px; display: block; margin: 0 auto;}
.wmdyl_bottom ul li a span{ font-size:28px; padding-top:10px; display: block;}
.wmdyl_bottom ul li p{ font-size:14px; line-height:24px; padding-top: 40px;}


/*合作企业*/
.hzqy_box_title h2{font-size:35px; background: url(../images/icon.png) 0px -238px no-repeat; padding-bottom:20px; margin:45px 0 30px 25px;}
.hzqy_bottom{ background:url(../images/hzqy_bg.gif) repeat; overflow:hidden;}
.hzqy_bottom ul{ width:1200px; margin:0 auto; padding:30px 0; overflow:hidden;}
.hzqy_bottom ul li{float:left; padding:20px 30px;}   
 .hzqy_line{ height:15px; background-color:#f5f357;}   

/*产品详情*/
.ml20 {margin-left: 20px;}
.product_box{ padding:50px 0 60px 0; overflow:hidden;}
.pro_div_one { overflow:hidden;}
.pro_div_one .left{ float:left; width:550px; background-color:#f3f358; padding:0 30px 30px 70px; overflow:hidden;}
.pro_div_one .left h2{background:url(../images/icon.png) 0 -608px no-repeat; font-size:36px; padding:42px 0 52px 0;}
.pro_div_one .left ul{ float:left; width:265px;}
.pro_div_one .left ul li span{ font-size:30px; padding-bottom:15px; display:block;}
.pro_div_one .left ul li{ line-height:36px; font-size:20px;}
.pro_div_one .right{width:470px; margin-left:80px; float:right;}
.main_title{background:url(../images/icon.png) 0px -230px no-repeat; font-size:36px; margin-top:42px; height: 96px;  overflow: hidden;}
.pro_div_one .right ul li{float:left; width:70px;  margin: 0 23px;}
.pro_div_one .right ul li span{width:70px; height:35px; display:block;}
.pro_div_one .right ul li a font{width:70px; display:block;  text-align:center; padding:5px 0 20px 0; }
.pro_div_one .right ul li a:hover {color: #333}
.pro_div_one .right ul li a .icon1, .pro_div_one .right ul li a .icon2, .pro_div_one .right ul li a .icon3, .pro_div_one .right ul li a .icon4, .pro_div_one .right ul li a .icon5,
.pro_div_one .right ul li a .icon6, .pro_div_one .right ul li a .icon7, .pro_div_one .right ul li a .icon8, .pro_div_one .right ul li a .icon9, .pro_div_one .right ul li a .icon10,
.pro_div_one .right ul li a .icon11, .pro_div_one .right ul li a .icon12, .pro_div_one .right ul li a .icon13, .pro_div_one .right ul li a .icon14, .pro_div_one .right ul li a .icon15, 
.pro_div_one .right ul li a .icon16{background:url(../images/qq_img.png) no-repeat;}
.pro_div_one .right ul li a .icon1{background-position:-14px -559px;}
.pro_div_one .right ul li a .icon2{background-position:-208px -559px;}
.pro_div_one .right ul li a .icon3{background-position:-404px -558px;}
.pro_div_one .right ul li a .icon4{background-position:-602px -559px;}
.pro_div_one .right ul li a .icon5{background-position:-12px -687px;}
.pro_div_one .right ul li a .icon6{background-position:-206px -687px;}
.pro_div_one .right ul li a .icon7{background-position:-406px -687px;}
.pro_div_one .right ul li a .icon8{background-position:-604px -687px;}
.pro_div_one .right ul li a .icon9{background-position:-10px -820px;}
.pro_div_one .right ul li a .icon10{background-position:-205px -818px;}
.pro_div_one .right ul li a .icon11{background-position:-408px -818px;}
.pro_div_one .right ul li a .icon12{background-position:-609px -824px;}
.pro_div_one .right ul li a .icon13{background-position:-11px -952px;}
.pro_div_one .right ul li a .icon14{background-position:-205px -948px;}
.pro_div_one .right ul li a .icon15{background-position:-406px -952px;}
.pro_div_one .right ul li a .icon16{background-position:-608px -964px;}
.pro_div_two{}
.pro_div_two .left{float:left;margin-left: 70px;}
.pro_div_two .left ul li{line-height: 31px; font-size: 20px; width:500px; margin-right:80px;}
.pro_div_two .right{ float:right; width:530px; margin-right:20px;}
.lxsxgw{ background:url(../images/hzbg.gif) repeat; margin-bottom:60px;}
.pro_div_three{ padding-bottom:55px; overflow:hidden;}
.pro_div_three .left{float:left; width:330px;margin-left: 70px}
.pro_div_three .left ul li{line-height: 31px; font-size: 20px;}
.pro_div_three .right{float:right; width:800px;}
.pro_div_three .trundle{width:800px; height:150px; background-color:#eee; margin-top:50px; position:relative;}
.mybtns #left, .mybtns #right{width:14px; height:18px; display:block; position:absolute; top:60px;}
.mybtns #left{background:url(../images/gw_left_icon.gif) no-repeat; left:20px;}
.mybtns #right{background:url(../images/gw_right_icon.gif) no-repeat; right:20px; }
#myscroll {display: block; width:720px; position: relative; height:150px; overflow: hidden; margin:0 auto;}
#myscroll #myscrollbox {display: block; float: left; position: absolute; left: 0; top: 0; width: 1000000px;}
#myscrollbox ul{ padding:30px 0; height:90px;}
#myscrollbox ul li {display: block; float: left;  width:240px;   height:90px;}
#myscrollbox ul li .left{ float:left; width:70px; margin:0 17px;}	
#myscrollbox ul li .right{float:right; width:120px; margin-right:16px;}
#myscrollbox ul li dl{background:url(../images/gw_line.gif) left bottom no-repeat; padding-bottom: 5px; overflow:hidden;}	
#myscrollbox ul li .right dl dt{}	
#myscrollbox ul li .scrollbox_font{ float: left;  font-weight: bold;}
#myscrollbox ul li .scrollbox_a img{ padding-left:2px; padding-bottom: 5px;  position: relative; top: -1px;}
#myscrollbox ul li dl dd{font-size:12px; line-height: 18px; color: #808080;}	
#myscrollbox ul li span{background:url(../images/gw_phone.gif) no-repeat; font-size:12px; padding-left:25px; margin-top:3px; display: block;}   
.cpxq_city{ width:220px; height:52px; line-height:52px; background: url(../images/balck2.png) repeat; font-size:22px; float:left; margin-right:10px;  color:#fff;}
.cpxq_city span{width:180px; height:52px; line-height:52px; text-align:center; display:block;   cursor:pointer; background:url(../images/cpxq_icon.png) right center no-repeat; padding-right:20px;}
.cpxq_city ul{background: url(../images/balck2.png) repeat; width:180px; display:none; line-height:35px; font-size:18px; padding:10px 20px}	 
.cpxq_city ul li a{ color:#fff;}

/*页面建设中*/
.yyjsz{ height:700px; line-height:700px; font-size:80px; text-align:center;}
.ggtu{ width:100%;position: relative}
.ggtu img{ width:100%;}


/*新加首页*/
.newMap{}
.newMap_top{text-align: center;}
.newMap_top h2{font-size: 45px; background: url(../images/icon.png) 560px -220px no-repeat;padding-bottom:30px; }
.newMap_top p { font-size:30px; padding-bottom:40px;}  
.newMap_top p font{ color:#e1da02; font-size:45px;}
.newMap_bottom{ text-align:center;}
.jzky{ margin-top:50px; clear:both; overflow:hidden;}
.jzky_top{ text-align:center;}
.jzky_top p{font-size:30px; color:#e1db01; }
.jzky_top h2{ font-size:60px; padding-bottom:20px;}
.jzky_bottom{}
.jzky_bottom ul li{ width:372px; float:left; margin:40px 14px 0 14px;}
.jzky_bottom ul li a{display:block; width:372px; height:240px;}
.jzky_bottom-tit { padding-top:20px;}
.jzky_bottom-tit font{float:left; width:190px; font-size:20px;  padding-left:10px;}
.jzky_bottom-tit p{float:right; width:172px;}
.jzky_bottom-tit p img{ float:right; margin-right:8px;}
.qy_more{ padding:60px 0 80px 0; text-align:center; clear:both; overflow:hidden;}  
.qy_more a{ font-size:25px; padding:18px 70px; background-color:#363636; color:#fff;}

/*房源列表*/
.fylb_address{border-top:1px solid #ccc; border-bottom:1px solid #ccc; overflow:hidden;}
.fylb_title .top{font-size: 35px; padding:60px 0 40px 10px;}
.fylb_title .top span{font-size: 35px; background: url(../images/icon.png) 0px -238px no-repeat; padding-bottom: 20px; margin: 45px 0 30px 0px;}
.fylb_title .top a{font-size: 35px;} 
.fylb_title .bottom{ padding-bottom:45px; overflow:hidden;}
.fylb_title .bottom span{ float:left; width:80px; font-size:24px; padding-left:10px;}
.fylb_title .bottom p{float:right; width:1110px; font-size:24px; padding-bottom:25px;}
.fylb_title .bottom p a{ color:#6d6d6d;padding-right:10px;}
.fylb_title .bottom .tit1{ color:#333;}
.fylb_title .bottom .tit2{color:#f5f357;}
.fylb_main{overflow:hidden;}
.fylb_list{ width:1200px; margin:0 auto; overflow:hidden;}
.fylb_list_box{ position:relative; margin-top:45px;}
.fylb_list_box .div1{ width:424px; height:277px; position:absolute; z-index:999;}
.fylb_list_box .slc_line{border:3px solid #b5b5b5; width:342px; left:10px; height:200px; top:35px;}
.slc_line_title{ height:70px; width:268px; background-color:#fff; position: absolute; top: -40px; left: 30px;}
.slc_line_title h2{font-size:50px;  padding: 5px 16px 0 20px; float:left;}    
.slc_line_title p{ float:left; background:url(../images/icon.png) left -785px  no-repeat; font-size:26px;  padding: 20px 0 20px 25px;}    
.slc_line_content{ padding:50px 0 18px 50px;  overflow:hidden; }	
.slc_line_content p{ font-size:16px; line-height:28px;}
.slc_line_icon{ padding-left:48px;}
.slc_line_icon ul li{ float:left; width:40px; margin-right:10px; text-align:center;}
.slc_line_icon ul li span{ display:block; width:30px; height:22px;}
.slc_line_icon ul li font{ color:#c9c9c9; font-size:12px; padding-top:0px;}
.slc_line_icon ul li .icon1{ background:url(../images/qq_img.png) -786px -568px no-repeat;}
.slc_line_icon ul li .icon2{ background:url(../images/qq_img.png) -784px -643px no-repeat;}
.slc_line_icon ul li .icon3{ background:url(../images/qq_img.png) -782px -718px no-repeat;}
.slc_line_icon ul li .icon4{ background:url(../images/qq_img.png) -783px -790px no-repeat;}
.slc_line_icon ul li .icon5{ background:url(../images/qq_img.png) -784px -863px no-repeat;}
.fylb_list_box .slc_line1{width:330px; height:190px; background-color:#f7f7f7; top:305px;}
.slc_1{ position:static; margin-bottom:30px;}
.fylb_list_box .slc_line2{width:330px; height:190px; background:url(../images/balck.png) repeat; top:315px; }

.slc_line_content1{ padding:50px 0 18px 50px; color:#d9d6d6;  overflow:hidden; }	
.slc_line_content1 p{ font-size:16px; line-height:28px;}
.slc_line_icon1{ padding-left:48px;}
.slc_line_icon1 ul li{ float:left; width:40px; margin-right:10px; text-align:center;}
.slc_line_icon1 ul li span{ display:block; width:30px; height:22px;}
.slc_line_icon1 ul li font{ color:#d9d6d6; font-size:12px; padding-top:0px;}
.slc_line_icon1 ul li .icon1{ background:url(../images/qq_img.png) -918px -568px no-repeat;}
.slc_line_icon1 ul li .icon2{ background:url(../images/qq_img.png) -915px -643px no-repeat;}
.slc_line_icon1 ul li .icon3{ background:url(../images/qq_img.png) -914px -718px no-repeat;}
.slc_line_icon1 ul li .icon4{ background:url(../images/qq_img.png) -915px -790px no-repeat;}
.slc_line_icon1 ul li .icon5{ background:url(../images/qq_img.png) -915px -863px no-repeat;}
.slc_line3{ position: absolute; top:90px;}



/*页脚*/
.footer_main{ overflow:hidden;margin-bottom: 50px;}
.footer_main_left{float:left; width:630px;}
.footer_main_left h2{border-bottom:1px solid #cccccc; padding-bottom:20px; font-size:20px; background:url(../images/syx.gif) 90px 10px no-repeat; clear:both;}
.footer_main_left ul{float:left; width:125px; padding-top:16px; }
.footer_main_left ul li{font-size:16px; line-height:35px;}
.footer_main_right{float: right;
    width: 525px;
    text-align: center;
    background: #faf9f9;
    height: 115px;
    margin-top: 47px;}
.footer_main_right a{}
.footer_main_right a img{     margin: 35px auto 0 auto;}
.footer{ clear:both; height:50px; line-height:50px; background:#e5e5e5; color:#7c7c7c; text-align:center;}
